.red-clip-path {
    position: relative;
    align-items: center;
    background-color: #28172d;
    clip-path: polygon(14px 0, calc(100% - 14px) 0, 100% 50%, calc(100% - 14px) 100%, 14px 100%, 0 50%);
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    margin: 0 auto;
    min-width: unset;
    padding: 0 15px;
    position: relative;
    text-transform: uppercase;
    transition: color .3s, background-color .3s;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: 100%;
}

.red-clip-path:before {
    background-color: #cf3464;
    clip-path: polygon(14px 0, 0 50%, 14px 100%, 15px calc(100% - 1px), 1px 50%, 15px 1px, calc(100% - 15px) 1px, calc(100% - 1px) 50%, calc(100% - 15px) calc(100% - 1px), 14px calc(100% - 1px), 14px 100%, calc(100% - 14px) 100%, 100% 50%, calc(100% - 14px) 0);
    content: "";
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}